.about-us-tittle {
    color: #f77548;
    text-align: center;
    font-size: 30px;
}

.description-div {
    padding: 0.6rem;
    span {
        margin: 0.6rem;
        color: black;
        display: flex;
        flex-direction: column;
    }
}

.stay-home-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        margin: 0.6rem;
        color: black;
        font-weight: 700;
    }
    span {
        color: #f77548;
    }
    .deliver-image {
        margin-top: 1rem;
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
}
