.choose-div {
    margin-top: 2rem;
    width: 100%;
    background-image: url(../img/whychoose.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        width: 200px;
        margin: 1rem;
        color: white;
    }
    .choose-cards {
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 2rem;
        width: 250px;
        height: 150px;
        border-radius: 20px;
        span {
            width: 200px;
            color: black;
            text-align: center;
            font-weight: bold;
        }
    }
}

.choose-div1 {
    background-image: url(../img/1-choose.png);
    background-size: 250px 150px;
}
.choose-div2 {
    background-image: url(../img/Group_2.png);
    background-size: 250px 150px;
}
.choose-div3 {
    background-image: url(../img/Group_3.png);
    background-size: 250px 150px;
}
