.restorant-nav {
    a {
        color: white;
        font-size: 17px;
        padding: .6rem;
        background-color: black;
        border-radius: 30px;
    }
    background-color: #f77548;
    display: flex;
    justify-content: space-evenly;
    
}
